# Visual Studio
*.suo
*.user
*.userosscache
*.sdf
*.opensdf
*.db
/bin
/obj
/Debug
/Release
.vs/
bin64/
/ImageProcess/x64/Debug/AnalyzerChartWidget.obj
/ImageProcess/x64/Debug/CameraBase.obj
/ImageProcess/x64/Debug/ImageProcess.Build.CppClean.log
/ImageProcess/x64/Debug/ImageProcess.exe.recipe
/ImageProcess/x64/Debug/ImageProcess.log
/ImageProcess/x64/Debug/imageprocess.obj
/ImageProcess/x64/Debug/ImageProcess.res
/ImageProcess/x64/Debug/ImageProcess.vcxproj.FileListAbsolute.txt
/ImageProcess/x64/Debug/ImageProcessD.Build.CppClean.log
/ImageProcess/x64/Debug/ImageProcessD.exe.recipe
/ImageProcess/x64/Debug/main.obj
/ImageProcess/x64/Debug/moc_AnalyzerChartWidget.obj
/ImageProcess/x64/Debug/moc_CameraBase.obj
/ImageProcess/x64/Debug/moc_imageprocess.obj
/ImageProcess/x64/Debug/moc_SettingDialog.obj
/ImageProcess/x64/Debug/moc_SharpnessAnalyzer.obj
/ImageProcess/x64/Debug/qrc_imageprocess.obj
/ImageProcess/x64/Debug/qt.natvis
/ImageProcess/x64/Debug/qt_work.log
/ImageProcess/x64/Debug/SettingDialog.obj
/ImageProcess/x64/Debug/SharpnessAnalyzer.obj
/ImageProcess/x64/Debug/uic
/ImageProcess/x64/Debug/uic/ui_imageprocess.h
/ImageProcess/x64/Debug/vc143.pdb
/ImageProcess/x64/Debug
/ImageProcess/ImageProcess.ico
/ImageProcess/imageprocess.qrc
/ImageProcess/ImageProcess.rc
